  <div class="pixgrid clearfix">
    <% if (parks.length > 0) { %>
      <% for (i=0; i<parks.length; i++) { %>
          <% for (j=0; j<parks[i].images.length; j++) { %>
              <img src="<%=parks[i].images[j].path%>" alt="" >

              <% } %>
              <% } %>
              <% } %>
  </div>
