<title><%= siteTitle %> - <%= pageTitle %></title>
<meta name="description" content="This is a project site for Michael Coons, Software Engineer. It showcases some of his projects, his contact information as well as his resume.">
<meta name="keywords" content="Michael Coons, mcoons, Galvanize, Software Developer, Software Engineer, Developer, Engineer, JavaScript, Menger, Menger Sponge, Babylon, BabylonJS, Node, NodeJS, Express, ExpressJS, Pomodoro">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel='stylesheet' href='/css/style.css' />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>


<meta property='og:title' content='Personal Site'/>
<meta property='og:image' content='https://mcoons.github.io/projectthumbnails/site.png'/>
<meta property='og:description' content='Personal site to showcase projects and contact information'/>
<meta property='og:url' content='https://www.michaelcoons.tech/'/>

<meta name="google-site-verification" content="sMbV7R42CyDNpqtn_erbLzFX-chApABIbbvaeXdnH98" />