@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);

body {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  font: normal 16px/1.5 "Roboto", "Helvetica Neue", sans-serif;
  font-weight: 300;

  font-size: 16px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: rgb(85, 152, 207);
}

p {
  font-family: inherit;
  font-weight: 300;
}


li {
  font-family: inherit;
  font-weight: 300;
}


/**  Header Navigation **/

header {
  font-size: 2rem;
}

header .jumbotron {
  height: 40vh;
  margin-bottom: 0;
  background: no-repeat 100% 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**  Navbar **/

header .navbar {
  background: rgb(85, 152, 207);
  margin-bottom: 0;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

header .navbar-default {
  border: none;
  border-radius: 0;
  padding: 10px 0;
}

.navbar-inverse {
  border: 0;
}

header .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

header .navbar-inverse .navbar-brand {
  color: white;
}

header .navbar-inverse .navbar-nav>li>a {
  color: white;
} 

header .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgb(68, 124, 170) ;
}

.maincontent {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

.jumbotron {
  padding: 20px 0;
  background-color: rgb(85, 152, 207);
}

.home-img {
  border-radius: 10px;
}

.projects-img{
  width: 100px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sm-img {
  margin-right: 10px;
  border-radius: 5px;
}

.active {
  background-color: rgb(25, 97, 155) !important;
}


.contact-icon {
  width: 25px;
  margin-right: 5px;
  background-color: white;
}

my-email::after {
  content: attr(data-domain);
}
my-email::before {
  content: attr(data-user) "\0040";
}

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
}

h1 {
  font-size: 2.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline {
  background-image: url("../images/projects/background.jpg");
}

.projects-title{
  text-align: center;
  margin:0 auto;
  margin-bottom: -55px;
  margin-top: 10px;
  border: solid rgb(25, 97, 155) 5px;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  background-color: white;
}

.timeline ul {
  padding: 50px 0;
}

.timeline ul li div h3 {
  color: black;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgb(25, 97, 155) ;
  color: black;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  /* bottom: 100px; */
  bottom: 200px;
  padding-bottom: 20px;

  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: white;
  border: 5px solid rgb(85, 152, 207);
  border-radius: 5px;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 200px;  
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -20px;
  border-width: 8px 16px 8px 0;
  border-color: transparent rgb(85, 152, 207) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -20px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent rgb(85, 152, 207);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: rgb(85, 152, 207);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -20px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgb(85, 152, 207) transparent transparent;
  }
  .projects-title{
    margin-left:10px;
  }
}
