@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(85, 152, 207);
}

p {
  font-family: inherit;
  font-weight: 100;
}


li {
  font-family: inherit;
  font-weight: 100;
}


/**  Header Navigation **/

header {
  font-size: 2rem;
}

header .jumbotron {
  height: 40vh;
  margin-bottom: 0;
  background: no-repeat 100% 5%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**  Navbar **/

header .navbar {
  background: rgb(85, 152, 207);
  margin-bottom: 0;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

header .navbar-default {
  border: none;
  border-radius: 0;
  padding: 10px 0;
}

.navbar-inverse {
  border: 0;
}

header .navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

header .navbar-inverse .navbar-brand {
  color: white;
}

header .navbar-inverse .navbar-nav>li>a {
  color: white;
} 

header .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgb(68, 124, 170) ;
}

.maincontent {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 160%;
}

.footer {
  background: rgb(85, 152, 207);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  font-weight: 300;  margin-top: 20px;
}

.jumbotron {
  padding: 20px 0;
  background-color: rgb(85, 152, 207);
}

.home-img {
  border-radius: 10px;
}

.sm-img {
  margin-right: 10px;
  border-radius: 5px;
}

.active {
  background-color: rgb(25, 97, 155) !important;
}

.contact-icon {
  width: 25px;
  margin-right: 5px;
  background-color: white;
}

my-email::after {
  content: attr(data-domain);
}
my-email::before {
  content: attr(data-user) "\0040";
}

#overlayText {
  z-index: 99;
  color:white;
}
/**  pixgrid **/

.pixgrid {
  cursor: pointer;
  margin-top: 20px;
}

.pixgrid img {
  display: block;
  padding: 5px;
  float: left;
  width: 33.33%;
  border-radius: 10px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .pixgrid img {
    width: 20%;
  }
}
