<!DOCTYPE html>
<html>

<head>
    <% include partials/template/head.ejs %>
</head>

<body id=" <%= pageID %>">

    <% include partials/template/header.ejs %>

    <div class="container">
        <div class="maincontent">
            <article class="article">
                <h1 class="article-title">Who I am</h1>
                <div class="row">
                    <div class="col-sm-3  hidden-xs">
                        <img src="/images/photos/pic1.jpg" alt="" class="img-responsive hidden-xs home-img">
                    </div>
                    <div class="col-sm-9">
                        <img src="/images/photos/pic1-sm.jpg" alt="" class="img-responsive pull-left visible-xs sm-img">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et iure ducimus accusantium animi fugiat! Asperiores, illum doloremque obcaecati, minus recusandae at vitae non omnis architecto, iusto enim quasi adipisci rem!</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et iure ducimus accusantium animi fugiat! Asperiores, illum doloremque obcaecati, minus recusandae at vitae non omnis architecto, iusto enim quasi adipisci rem!</p>
                    </div>  
                </div>
            </article><!-- article -->
            <article class="article">
                <h1 class="article-title">Where I'm from</h1>
                <div class="row">
                    <div class="col-sm-3  hidden-xs">
                        <img src="/images/photos/iu.jpg" alt="" class="img-responsive hidden-xs home-img">
                    </div>
                    <div class="col-sm-9"> 
                        <img src="/images/photos/iu-sm.jpg" alt="" class="img-responsive pull-left visible-xs sm-img">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et iure ducimus accusantium animi fugiat! Asperiores, illum doloremque obcaecati, minus recusandae at vitae non omnis architecto, iusto enim quasi adipisci rem!</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et iure ducimus accusantium animi fugiat! Asperiores, illum doloremque obcaecati, minus recusandae at vitae non omnis architecto, iusto enim quasi adipisci rem!</p>
                    </div>  
                </div>
            </article><!-- article -->
            
            <article class="article">
                <h1 class="article-title">What I like to do</h1>
                <div class="row">
                    <div class="col-sm-3  hidden-xs">
                        <img src="/images/photos/shooting.jpg" alt="" class="img-responsive hidden-xs home-img">
                    </div>
                    <div class="col-sm-9"> 
                        <img src="/images/photos/shooting-sm.jpg" alt="" class="img-responsive pull-left visible-xs sm-img">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et iure ducimus accusantium animi fugiat! Asperiores, illum doloremque obcaecati, minus recusandae at vitae non omnis architecto, iusto enim quasi adipisci rem!</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et iure ducimus accusantium animi fugiat! Asperiores, illum doloremque obcaecati, minus recusandae at vitae non omnis architecto, iusto enim quasi adipisci rem!</p>
                    </div>  
                </div>
            </article><!-- article -->
        </div>    
    </div>

    <% include partials/template/footer.ejs %>

</body>

</html>