<!DOCTYPE html>
<html>

<head>
    <% include partials/head.ejs %>
</head>

<body id=" <%= pageID %>">

    <% include partials/header.ejs %>

    <div class="container">
        <div class="maincontent">

            <article class="article">
                <h1 class="article-title">Who I am</h1>
                <div class="row">
                    <div class="col-sm-3  hidden-xs">
                        <img src="/images/photos/pic1.jpg" alt="" class="img-responsive hidden-xs home-img">
                    </div>
                    <div class="col-sm-9">
                        <img src="/images/photos/pic1-sm.jpg" alt="" class="img-responsive pull-left visible-xs sm-img">
                        <p>I'm a computer geek.  I've been one since the 80s.  Back then our web browser was this thing called telnet. I actually remember when Netscape made it's appearance.</p>
                        <p>I've decided to change careers and utilize my programming and IT knowledge for web development. I recently graduated from the six month Web Development Immersive program at Galvanize where I created projects involving HTML, CSS, JavaScript, React, Vue, Node, Express, MongoDB, PostgreSQL, MySQL, Firebase, Heroku and a few other technologies.</p>
                        <p>For my capstone project I created a 3D game that utilized Three.JS which is a WebGL library.  It was a cross between Tetris and Rubik's Cube.  You can see my <strong>capstone presentation <a href="https://www.youtube.com/watch?v=IRuc8Y7rJcs" target="_blank">here</a></strong>.</p>
                        <p>I'm currently trying to find a mission driven company I can dedicate myself to as a Junior Developer.  All I need to know is their specific set of technologies to focus on.</p>
                    </div>  
                </div>
            </article>
            
            <article class="article">
                <h1 class="article-title">Where I'm from</h1>
                <div class="row">
                    <div class="col-sm-3  hidden-xs">
                        <img src="/images/photos/iu.jpg" alt="" class="img-responsive hidden-xs home-img">
                    </div>
                    <div class="col-sm-9"> 
                        <img src="/images/photos/iu-sm.jpg" alt="" class="img-responsive pull-left visible-xs sm-img">
                        <p>I'm a Hoosier. Born and bred in Indiana where I lived the majority of my life.  I attended Indiana University where I got my degree in Computer Science.</p>
                        <p>Southern Indiana boasts some beautiful fall colors.  People come from miles around to visit Brown County when the leaves are changing.</p>
                        <p>I've recently relocated to the beautiful state of Colorado.  I moved here to continue my education and break into the field of Web Development.</p>
                    </div>  
                </div>
            </article>
            
            <article class="article">
                <h1 class="article-title">What I like to do</h1>
                <div class="row">
                    <div class="col-sm-3  hidden-xs">
                        <img src="/images/photos/shooting.jpg" alt="" class="img-responsive hidden-xs home-img">
                    </div>
                    <div class="col-sm-9"> 
                        <img src="/images/photos/shooting-sm.jpg" alt="" class="img-responsive pull-left visible-xs sm-img">
                        <p>When I'm not geeking out with computers, I like to fill my free time with outdoor activities.</p>
                        <p>Now that I live in Colorado, I can't help but be drawn to the mountains.  I enjoy exploring the Rockies and discovering the out of the way streams and rivers.  In the near future, I want to gear up for back country hiking and camping.</p>
                        <p>I became interested in photography many years ago and Colorado is a photographer's dream. I am working on visiting and photographing as many parks and open spaces as I can.</p>
                    </div>  
                </div>
            </article>

        </div>    
    </div>

    <% include partials/footer.ejs %>

</body>

</html>