<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <% include partials/template/header.ejs %>
    <div class="container">

            <header class="photography-header">
              <h1 class="article-title">Photography</h1>
            </header><!-- projects-header -->
            <div class="panel panel-default">
              <div class="panel-body photography-display">
                <p class="text-muted chat-text">Photographs here</p>
              </div><!-- panel-body -->
            </div><!-- panel-default -->

    </div><!-- container -->
    <% include partials/template/footer.ejs %>
  </body>
</html>
