<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body id="<%= pageID %>">
    <% include partials/template/header.ejs %>
    
    
    <section class="timeline">
      <h1 class="projects-title">Web Projects</h1>
                <ul>
                  <li>
                    <div>
                      <time>October, 2018</time>
                      <h1>Spartan Fan Page</h1>
                      <img src="/images/projects/spartans.png" alt="" class="img-responsive hidden-xs projects-img">
                      <h3>Purpose</h3>
                      <p>This is a very simple app written for the Spartan parents so they can download the football pictures I took of their kids.</p>
                      <h3>Technologies</h3>
                      <p>Node, Express, EJS</p>
                      <h3>Links</h3>
                      <a href="https://github.com/mcoons/spartans">GitHub</a><br>
                      <a href="http://spartans.michaelcoons.tech">Published</a><br>
                    </div>
                  </li>
                  <li>
                    <div>
                      <time>September, 2018</time>                         
                      <h1>Tower of Three</h1>
                      <img src="/images/projects/TowerOfThree.png" alt="" class="img-responsive hidden-xs projects-img">
                      <h3>Purpose</h3>
                      <p>This was written for the Spartan parents so they can download the football pictures I took of their kids.</p>
                      <h3>Technologies</h3>
                      <p>Node, Express, EJS</p>
                      <h3>Links</h3>
                      <a href="https://github.com/mcoons/spartans">GitHub</a><br>
                      <a href="http://spartans.michaelcoons.tech">Published</a><br>
                    </div>
                  </li>
                  <li>
                    <div>
                      <time>August</time>
                      <h1>CRāV</h1>
                      <img src="/images/projects/crav.png" alt="" class="img-responsive hidden-xs projects-img">
                      <h3>Purpose</h3>
                      <p>This was a group project to practice <strong>storyboarding</strong> and <strong>Scrum</strong>. We had four days from idea generation to final product presentation using an unfamiliar technology.</p>  </p>
                      <h3>Technologies</h3>
                      <p>Vue, Express, EJS</p>
                      <h3>Links</h3>
                      <a href="https://github.com/mcoons/crav_fe">GitHub Frontend</a><br>
                      <a href="https://github.com/mcoons/crav_be">GitHub Backend API</a><br>
                      <a href="https://crav-5afdb.firebaseapp.com/">Published Frontend</a><br>
                      <a href="https://crav.herokuapp.com/">Published Backend</a><br>
                    </div>
                  </li>
                  <li>
                    <div>
                      <time>August</time>
                      <h1>g90 Cohort Directory</h1>
                      <img src="/images/projects/g90.png" alt="" class="img-responsive hidden-xs projects-img">
                      <h3>Purpose</h3>
                      <p>This was written for the Spartan parents so they can download the football pictures I took of their kids.</p>
                      <h3>Technologies</h3>
                      <p>Javascript, Node, Express, EJS</p>
                      <h3>Links</h3>
                      <a href="https://github.com/mcoons/g90directory">GitHub</a><br>
                      <a href="hhttps://g90-directory.herokuapp.com/">Published</a><br>
                    </div>
                  </li>
                  <li>
                    <div>
                      <time>July, 2018</time>
                      <h1>Date Analyzer</h1>
                      <img src="/images/projects/dateanalyzer.png" alt="" class="img-responsive hidden-xs projects-img">
                      <h3>Purpose</h3>
                      <p>To build a light application that reads data, has end-to-end testing, and integrates with an API</p>
                      <h3>Technologies</h3>
                      <p>Javascript, React</p>
                      <h3>Links</h3>
                      <a href="https://github.com/mcoons/galvanize-frontend-app/tree/master/drills/version-1/datanalyzer">GitHub</a><br>
                      <a href="https://dateanalyzer.firebaseapp.com/">Published</a><br>
                    </div>
                  </li>
                  <li>
                    <div>
                      <time>1946</time>
                      <h1>Spartan Fan Page</h1>
                      <img src="/images/projects/g90.png" alt="" class="img-responsive hidden-xs projects-img">
                      <h3>Purpose</h3>
                      <p>This was written for the Spartan parents so they can download the football pictures I took of their kids.</p>
                      <h3>Technologies</h3>
                      <p>Node, Express, EJS</p>
                      <h3>Links</h3>
                      <a href="https://github.com/mcoons/spartans">GitHub</a><br>
                      <a href="http://spartans.michaelcoons.tech">Published</a><br>
                    </div>
                  </li>
                  <li>
                    <div>
                      <time>1957</time>
                      <h1>Spartan Fan Page</h1>
                      <h3>Purpose</h3>
                      <p>This was written for the Spartan parents so they can download the football pictures I took of their kids.</p>
                      <h3>Technologies</h3>
                      <p>Node, Express, EJS</p>
                      <h3>Links</h3>
                      <a href="https://github.com/mcoons/spartans">GitHub</a><br>
                      <a href="http://spartans.michaelcoons.tech">Published</a><br>
                    </div>
                  </li>

              </section>


    <% include partials/template/footer.ejs %>


<script>

(function() {

'use strict';

// define variables
var items = document.querySelectorAll(".timeline li");

// check if an element is in viewport
// http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
function isElementInViewport(el) {
  var rect = el.getBoundingClientRect();
  return (
    rect.top >= 0 &&
    rect.left >= 0 &&
    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
}

function callbackFunc() {
  for (var i = 0; i < items.length; i++) {
    if (isElementInViewport(items[i])) {
      items[i].classList.add("in-view");
    }
  }
}

// listen for events
window.addEventListener("load", callbackFunc);
window.addEventListener("resize", callbackFunc);
window.addEventListener("scroll", callbackFunc);

})();
</script>

  </body>
</html>
